.chart {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;
}
.areaChart {
    background: #fff;
    width: 75%;
    border-radius: 6px;
    padding: 20px;
    padding-top: 0;
}
.radialChart {
    background: #fff;
    width: 25%;
    border-radius: 6px;
}

